html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #F5F5F5;
    color: #000000;
    height: 100%;
    overflow-x: hidden;
    font-family: Helvetica;
}

.header {
    background-color: #474747;
    text-align: center;
    font-size: 24px;
    padding: 25px;
}

.header p {
    color: #FFFFFF;
}

.header span {
    color: #FF8133;
}
.galerie {
    background: #474747;
    border-radius: 10px 10px 0px 0px;
    margin: 25px;
    margin-bottom: 0;
    padding: 200px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 30px;
}

.galerie div {
    background: #F5F5F5;
    padding: 10px;
    color: #000000;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description {
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    margin: 25px;
    margin-top: 0;
    color: #000000;
}

.description p,
div {
    padding: 10px 10px 10px 10px;
    font-size: 18px;
}

.description h2 {
    font-size: 24px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #474747;
    text-align: center;
    font-size: 24px;
    padding: 25px;
}

.nav ul {
    list-style-type: none;
    display: inline;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav i {
    color: #FFFFFF;
    font-size: 60px;
}