@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper{
  display: inline-flex;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 0px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  margin-top: 20px;

}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 15px;
  width: 15px;
  background: #F5F5F5;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background: #2EDCC7;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3{
  border-color: #2EDCC7;
  background: #2EDCC7;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 3.5vw;
  color: #F55E00;
  padding: 5px;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span{
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#8AD534, #2EDCC7);
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translate(0%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.25);
}

.center h1 {
  text-align: center;
  color: white;
  padding: 20px 0;
  font-size: 6.5vw;
  background-color: #474747;
  border-radius: 10px 10px 0px 0px;}

.center form {
  padding: 0 30px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #2EDCC7;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 4.5vw;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #2EDCC7;
  transform: translateY(-50%);
  font-size: 3.5vw;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #1B9D8E;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #1B9D8E;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #1B9D8E;
  border-radius: 25px;
  font-size: 4.5vw;
  color: #F5F5F5;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #1B9D8E;
  transition: .5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 3.5vw;
  color: #666666;
}

.signup_link a {
  color: #1B9D8E;
  font-size: 3.5vw;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}